@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;

}

body {
    background-image: url("img/bg.jpg");
    /* backdrop-filter: blur(5px); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.bg1 {
    background-image: url(img/beach1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background-image: url(img/beach2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(10%);
    }

    50% {
        transform: translateX(50%);
    }

    50% {
        transform: translateX(-70%);
    }

    100% {
        transform: translateX(0%);
    }
}

.animate-scroll {
    display: flex;
    /* width: min-content; */
    animation: scroll 30s linear infinite;
}

@keyframes pulseGlow {

    0%,
    100% {
        box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.9);
    }
}

.animate-pulse-glow {
    animation: pulseGlow 1.5s infinite ease-in-out;
}

.hideBtn {
    z-index: 1;
    top: -10px;
    right: -10px;
}